@font-face {
    font-family: gilroy;
    src: 
        url(/fontz/gilroy/webFonts/Gilroy-Light/font.woff) format('woff'),
        url(/fontz/gilroy/webFonts/Gilroy-Light/font.woff2) format('woff2');
}

body {
    font-family: gilroy;
    margin: 0;
    padding: 0;
}

.bio p, li {
    font-size: 1.15rem;
    line-height: 2rem;
}

.imgBack {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/skylineOG.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: left bottom;
}


.contact .col-2, .col-3, .col-5, .col-8{
    padding: 0;
}

@media (max-width: 600px) {
    .logoContainer {
        margin-right: 0.5em;
    }

    .logoText {
        font-size: 0.75rem;
       
    }
    .logoTextContainer {
        padding: 0;
    }
    .bio {
        padding-top: 2em;
    }
    .bio p, li {
        font-size: 1rem;
    }
}

@media (min-width: 600px) {
    .logoText {
        font-size: 1rem;
    }
}

@media (min-width: 900px) {
    .logoText {
        font-size: 1.25rem;
    }
}